
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
   
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 2px;
  margin: 0.125rem;
}

html {
  font-size: 16px;
}

p {
  margin: 10px;
  margin: 0.625rem;
  font-weight: 200;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 22.72px;
  letter-spacing: 1.42rem;
  font-weight: 200;
}

nav {
  display: none;
  width: 100%;
  text-align: center;
  background-color: white;
  box-shadow: 0 0.1875rem 0.6875rem rgba(0, 0, 0, .1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navactive  {
  display: block;
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.colscontainer {
  font-size: 14.4px;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.colscontaineractive {
  margin-top: 90px;
  margin-top: 5.625rem;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.addnotecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: fixed;
  top: 150px;
  top: 9.375rem;
  right: 208px;
  right: 13rem;
  left: 208px;
  left: 13rem;
}

.addnote {
  display:none;
}

.addnoteactive {
  height: 256px;
  height: 16rem;
  border: 1px;
  border: 0.0625rem;
  background-color: #FFF0AA;
  text-align: center;
}

.addnoteactive button {
  width: 50%;
}

.addnoteactive textarea,
.addnoteactive textarea:focus {
  width: 400px;
  width: 25rem;
  height: 150px;
  height: 9.375rem;
  padding: 16px;
  padding: 1rem;
  background-color: #FFF0AA;
  border: 0;
  outline: 0;
  resize: none;
}

.addnotebutton {
  display:none;
}

.addnotebuttonactive {
  display: block;
  position: fixed;
  bottom: 4px;
  bottom: 0.25rem;
  right: 4px;
  right: 0.25rem;
  z-index: 300;
}

.addnotebuttonactive button {
  border-radius: 0.0625rem 0.0625rem 0 0;
  font-size: 16px;
  font-size: 1rem;
  padding: 8px 28.8px;
  padding: 0.5rem 1.8rem;
  font-weight: 200;
}

.colscontainer section:nth-of-type(5n+0) {
  /*peach*/
  background-color: #FFAEAE;
}

.colscontainer section:nth-of-type(5n+1) {
  /*orange*/
  background-color: #FF5049;
}

.colscontainer section:nth-of-type(5n+2) {
  /*postit yellow*/
  background-color: #FFF0AA;
}

.colscontainer section:nth-of-type(5n+3) {
  /*green*/
  background-color: #B0E57C;
}

.colscontainer section:nth-of-type(5n+4) {
  /*baby blue*/
  background-color: #B4D8E7;
}

section {
  width: 15%;
  margin: 5px;
  margin: 0.3125rem;
  padding: 5px;
  padding: 0.3125rem;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  border-radius: 0.0625rem;
  -webkit-transition: opacity 0.2s, color 0.2s;
  transition: opacity 0.2s, color 0.2s;
  z-index: -5;
}

.foreground {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
  box-shadow: 0 0.1875rem 0.6875rem rgba(0, 0, 0, .1)
}

/*overlay stuff*/

@-webkit-keyframes fadeIn {
 from  {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
 to    {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
}

@keyframes fadeIn {
 from  {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
 to    {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
}

.aboutoverlaycontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: fixed;
  top: 50px;
  top: 3.125rem;
  right: 250.08px;
  right: 15.63rem;
  left: 250.08px;
  left: 15.63rem;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.aboutoverlaycontainer div {
  background-color: black;
  padding: 20px;
  padding: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #FFF;
  z-index:200;
  border-radius: 0.3125rem;
  box-shadow: 0 0.1875rem 0.6875rem rgba(0, 0, 0, .1);
}

button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: transparent; /* fallback color for old browsers */
  border-radius: 0px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  transition: all 0.1s ease-out;
}

  button:hover,
  button:focus,
  button:active {
    background: #fff;
    color: #000;
    transition: all 0.5s ease-in;
}

/*button {
 background-color: #e2c481;
 border-radius: 0.5rem;
 text-shadow: rgba(0,0,0,.4) 0 1px 0;
 text-shadow: rgba(0,0,0,.4) 0 0.0625rem 0;
 color: white;
 text-decoration: none;
 vertical-align: middle;
 padding: 8px 32px;
 padding: 0.5rem 2rem;
 -webkit-transition: opacity 0.2s, color 0.2s;
 transition: opacity 0.2s, color 0.2s;
 font-weight:200;
 font-family: 'Ubuntu', sans-serif;
}

button:hover {
 color: white;
 background: #E8A937;
 opacity: 1;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}*/

/*Responsive Stuff*/

@media only screen and (max-width: 960px) {

  html {
    font-size: 15px;
  }

  section {
   width: 20%;
 }
}

@media only screen and (max-width: 660px) {

  html {
    font-size: 13px;
  }

  section {
    width: 30%;
  }
}

@media only screen and (max-width: 450px) {

  html {
    font-size:11px;
  }

  section {
    width: 40%;
  }
}